%html
    %head
        %title Ranerg: jQuery plugin
        %link{href: "style.css", rel: "stylesheet"}
        %script{src: "script.js"}

    %body
        #wrap
            %h1 Scroll on top

        .upward_wrap
            .upward